*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -ms-flex-order: -1;
      order: -1; }

.order-last {
  -ms-flex-order: 13;
      order: 13; }

.order-0 {
  -ms-flex-order: 0;
      order: 0; }

.order-1 {
  -ms-flex-order: 1;
      order: 1; }

.order-2 {
  -ms-flex-order: 2;
      order: 2; }

.order-3 {
  -ms-flex-order: 3;
      order: 3; }

.order-4 {
  -ms-flex-order: 4;
      order: 4; }

.order-5 {
  -ms-flex-order: 5;
      order: 5; }

.order-6 {
  -ms-flex-order: 6;
      order: 6; }

.order-7 {
  -ms-flex-order: 7;
      order: 7; }

.order-8 {
  -ms-flex-order: 8;
      order: 8; }

.order-9 {
  -ms-flex-order: 9;
      order: 9; }

.order-10 {
  -ms-flex-order: 10;
      order: 10; }

.order-11 {
  -ms-flex-order: 11;
      order: 11; }

.order-12 {
  -ms-flex-order: 12;
      order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -ms-flex-order: -1;
        order: -1; }
  .order-sm-last {
    -ms-flex-order: 13;
        order: 13; }
  .order-sm-0 {
    -ms-flex-order: 0;
        order: 0; }
  .order-sm-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-sm-2 {
    -ms-flex-order: 2;
        order: 2; }
  .order-sm-3 {
    -ms-flex-order: 3;
        order: 3; }
  .order-sm-4 {
    -ms-flex-order: 4;
        order: 4; }
  .order-sm-5 {
    -ms-flex-order: 5;
        order: 5; }
  .order-sm-6 {
    -ms-flex-order: 6;
        order: 6; }
  .order-sm-7 {
    -ms-flex-order: 7;
        order: 7; }
  .order-sm-8 {
    -ms-flex-order: 8;
        order: 8; }
  .order-sm-9 {
    -ms-flex-order: 9;
        order: 9; }
  .order-sm-10 {
    -ms-flex-order: 10;
        order: 10; }
  .order-sm-11 {
    -ms-flex-order: 11;
        order: 11; }
  .order-sm-12 {
    -ms-flex-order: 12;
        order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -ms-flex-order: -1;
        order: -1; }
  .order-md-last {
    -ms-flex-order: 13;
        order: 13; }
  .order-md-0 {
    -ms-flex-order: 0;
        order: 0; }
  .order-md-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-md-2 {
    -ms-flex-order: 2;
        order: 2; }
  .order-md-3 {
    -ms-flex-order: 3;
        order: 3; }
  .order-md-4 {
    -ms-flex-order: 4;
        order: 4; }
  .order-md-5 {
    -ms-flex-order: 5;
        order: 5; }
  .order-md-6 {
    -ms-flex-order: 6;
        order: 6; }
  .order-md-7 {
    -ms-flex-order: 7;
        order: 7; }
  .order-md-8 {
    -ms-flex-order: 8;
        order: 8; }
  .order-md-9 {
    -ms-flex-order: 9;
        order: 9; }
  .order-md-10 {
    -ms-flex-order: 10;
        order: 10; }
  .order-md-11 {
    -ms-flex-order: 11;
        order: 11; }
  .order-md-12 {
    -ms-flex-order: 12;
        order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -ms-flex-order: -1;
        order: -1; }
  .order-lg-last {
    -ms-flex-order: 13;
        order: 13; }
  .order-lg-0 {
    -ms-flex-order: 0;
        order: 0; }
  .order-lg-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-lg-2 {
    -ms-flex-order: 2;
        order: 2; }
  .order-lg-3 {
    -ms-flex-order: 3;
        order: 3; }
  .order-lg-4 {
    -ms-flex-order: 4;
        order: 4; }
  .order-lg-5 {
    -ms-flex-order: 5;
        order: 5; }
  .order-lg-6 {
    -ms-flex-order: 6;
        order: 6; }
  .order-lg-7 {
    -ms-flex-order: 7;
        order: 7; }
  .order-lg-8 {
    -ms-flex-order: 8;
        order: 8; }
  .order-lg-9 {
    -ms-flex-order: 9;
        order: 9; }
  .order-lg-10 {
    -ms-flex-order: 10;
        order: 10; }
  .order-lg-11 {
    -ms-flex-order: 11;
        order: 11; }
  .order-lg-12 {
    -ms-flex-order: 12;
        order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -ms-flex-order: -1;
        order: -1; }
  .order-xl-last {
    -ms-flex-order: 13;
        order: 13; }
  .order-xl-0 {
    -ms-flex-order: 0;
        order: 0; }
  .order-xl-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-xl-2 {
    -ms-flex-order: 2;
        order: 2; }
  .order-xl-3 {
    -ms-flex-order: 3;
        order: 3; }
  .order-xl-4 {
    -ms-flex-order: 4;
        order: 4; }
  .order-xl-5 {
    -ms-flex-order: 5;
        order: 5; }
  .order-xl-6 {
    -ms-flex-order: 6;
        order: 6; }
  .order-xl-7 {
    -ms-flex-order: 7;
        order: 7; }
  .order-xl-8 {
    -ms-flex-order: 8;
        order: 8; }
  .order-xl-9 {
    -ms-flex-order: 9;
        order: 9; }
  .order-xl-10 {
    -ms-flex-order: 10;
        order: 10; }
  .order-xl-11 {
    -ms-flex-order: 11;
        order: 11; }
  .order-xl-12 {
    -ms-flex-order: 12;
        order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important; }

.text-justify {
  text-align: justify !important; }

.text-wrap {
  white-space: normal !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-lighter {
  font-weight: lighter !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.font-weight-bolder {
  font-weight: bolder !important; }

.font-italic {
  font-style: italic !important; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #007bff !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #0056b3 !important; }

.text-secondary {
  color: #6c757d !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #494f54 !important; }

.text-success {
  color: #28a745 !important; }

a.text-success:hover, a.text-success:focus {
  color: #19692c !important; }

.text-info {
  color: #17a2b8 !important; }

a.text-info:hover, a.text-info:focus {
  color: #0f6674 !important; }

.text-warning {
  color: #ffc107 !important; }

a.text-warning:hover, a.text-warning:focus {
  color: #ba8b00 !important; }

.text-danger {
  color: #dc3545 !important; }

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important; }

.text-light {
  color: #f8f9fa !important; }

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important; }

.text-dark {
  color: #343a40 !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #121416 !important; }

.text-body {
  color: #212529 !important; }

.text-muted {
  color: #6c757d !important; }

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-decoration-none {
  text-decoration: none !important; }

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important; }

.text-reset {
  color: inherit !important; }

/* stylelint-disable */
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
   *  Owl Carousel - Animate Plugin
   */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
   * 	Owl Carousel - Auto Height Plugin
   */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
   * 	Owl Carousel - Lazy Load Plugin
   */
.owl-carousel .owl-item {
  /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
   * 	Owl Carousel - Video Plugin
   */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/* stylelint-enable */
/* stylelint-disable */
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* stylelint-enable */
.color--pink {
  color: #e77b8b; }

.color--red {
  color: #ff1743; }

.color--blue {
  color: #007cff; }

.color--light-blue {
  color: #32a5da; }

.color--green {
  color: #359256; }

.color--yellow {
  color: #d2a500; }

.color--purple {
  color: #4947d2; }

.bg--red {
  background: #fff0f3; }

.bg--light-blue {
  background: #eaf9ff; }

.bg--blue {
  background: #e8f3ff; }

.bg--yellow {
  background: #fff6d3; }

.bg--green {
  background: #e4ffee; }

.bg--purple {
  background: #f4f4ff; }

/* stylelint-disable */
@font-face {
  font-family: 'Futura-Normal';
  font-style: normal;
  font-weight: 400;
  src: local("Futura-Normal"), local("Futura-Normal-Regular"), url("../fonts/futura-normal.woff") format("woff"), url("../fonts/futura-normal.ttf") format("truetype"); }

/* stylelint-enable */
html,
body {
  color: #525f7f;
  background: #fff;
  font-family: "Futura-Normal", "Futura", arial;
  font-size: 18px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 38px; }

body {
  background: #fff url("../images/body-bg.png") no-repeat top center;
  max-width: 1920px;
  margin: auto;
  min-width: 1200px; }
  body.jp-lang {
    font-family: "Noto Sans JP", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

nav {
  display: -ms-flexbox;
  display: flex; }
  nav li {
    list-style: none; }

a {
  text-decoration: none;
  transition: all .2s ease-in-out; }
  a:hover {
    text-decoration: none; }
  a.color--pink:hover {
    text-decoration: underline;
    color: #e77b8b; }

button {
  transition: all .2s ease-in-out; }
  button:hover {
    opacity: .9; }

.button {
  border: none;
  background: #009477;
  box-shadow: -7px 7px 20px 0 rgba(132, 92, 255, 0.2);
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 18px;
  padding: 2px 20px;
  min-width: 140px;
  text-align: center;
  vertical-align: middle; }
  .button:focus {
    outline: none; }
  .button--bg-pink {
    background: #e77b8b;
    box-shadow: -7px 7px 20px 0 rgba(196, 116, 191, 0.2); }
  .button--size-medium {
    line-height: 35px;
    min-width: 200px;
    padding: 10px 20px; }

input,
textarea {
  border: 1px solid #009477;
  box-shadow: none;
  background: transparent;
  width: 100%;
  font-size: 18px;
  padding: 15px;
  line-height: 30px; }
  input:focus,
  textarea:focus {
    outline: none; }

textarea {
  min-height: 150px;
  resize: none; }

.heading {
  font-size: 40px;
  line-height: 1.5;
  color: #32325d;
  margin-bottom: 30px; }
  .heading--has-icon {
    position: relative;
    padding-top: 55px; }
    .heading--has-icon:before {
      content: '';
      position: absolute;
      left: calc(50% - 53px);
      top: 0;
      width: 106px;
      height: 21px;
      background: url("../images/heading-bg.png") no-repeat top left;
      background-size: cover; }

.sub-heading {
  margin-bottom: 20px; }

img {
  max-width: 100%; }

.tab-nav {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10; }
  .tab-nav__link {
    border-radius: 5px;
    color: #fff;
    background: #acacac;
    line-height: 44px;
    padding: 10px 80px;
    font-size: 22px;
    margin-right: 6px; }
    .tab-nav__link--active {
      background: #009477; }
    .tab-nav__link--large {
      padding: 10px 60px; }
    .tab-nav__link:last-child {
      margin-right: 0; }
    .tab-nav__link:hover {
      color: #fff;
      opacity: .9; }

.tab-content {
  z-index: 1;
  box-shadow: 0 10px 40px 0 rgba(113, 130, 138, 0.2);
  background: #fff;
  border-radius: 5px;
  margin-top: -10px; }

.tab-panel {
  display: none;
  position: relative; }
  .tab-panel--active {
    display: block; }
  .tab-panel__contain {
    display: -ms-flexbox;
    display: flex;
    padding: 30px 30px 40px 55px; }
  .tab-panel__text {
    margin-right: 40px;
    padding-top: 40px;
    padding-bottom: 70px;
    width: calc(100% - 360px);
    position: relative; }
  .tab-panel__image {
    width: 320px; }
  .tab-panel__next {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 57px;
    height: 39px;
    background: url("../images/icon-sprite.png") no-repeat -128px -59px;
    cursor: pointer; }

.owl-dot {
  width: 20px;
  text-align: center; }
  .owl-dot:focus {
    outline: none; }

.owl-theme .owl-dots .owl-dot {
  width: 10px;
  margin: 0 5px; }
  .owl-theme .owl-dots .owl-dot span {
    margin: 0; }

.owl-carousel .owl-item img {
  width: auto;
  display: inline-block; }

.owl-theme.owl-carousel--vertical {
  position: relative; }
  .owl-theme.owl-carousel--vertical .owl-dots {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 630px;
    transform: translateY(-50%); }
    @media (max-width: 1320px) {
      .owl-theme.owl-carousel--vertical .owl-dots {
        right: 15px;
        left: auto; } }
    body .page-container .owl-theme.owl-carousel--vertical .owl-dots {
      margin-top: 0; }
    .owl-theme.owl-carousel--vertical .owl-dots .owl-dot {
      display: block;
      width: 20px;
      height: 20px;
      margin: 16px 0; }
    .owl-theme.owl-carousel--vertical .owl-dots .owl-dot span {
      width: 20px;
      height: 20px;
      border: 2px solid #009477;
      border-radius: 5px;
      background: transparent; }
    .owl-theme.owl-carousel--vertical .owl-dots .owl-dot.active span {
      background: #009477; }

.list {
  padding: 0;
  margin: 0; }
  .list__item {
    list-style: none;
    position: relative;
    padding-left: 38px;
    line-height: 40px; }
    .list__item:before, .list__item:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #0074e4;
      z-index: 3; }
    .list__item:after {
      width: 20px;
      height: 20px;
      left: 0;
      top: 10px;
      background: #dbe7f2;
      z-index: 2; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

.fadeInSlow {
  animation-name: fadeIn;
  animation-delay: .3s;
  animation-duration: .4s; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

.header {
  position: relative; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: calc(50% - 130px);
    background: url("../images/header-bg.png") no-repeat top left;
    background-size: auto; }
    .jp-lang .header:before {
      left: calc(50% - 70px); }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100; }
  .navbar-contain {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 40px 0; }
  .navbar-logo {
    padding-bottom: 15px;
    margin-right: 105px; }
  .navbar-language {
    margin-left: auto;
    color: #202020;
    display: -ms-flexbox;
    display: flex;
    line-height: 32px;
    font-size: 16px; }
    .navbar-language__link {
      line-height: 32px;
      font-size: 16px;
      color: #202020;
      padding: 0; }
      .navbar-language__link:hover {
        color: #202020;
        text-decoration: underline; }

.main-menu__item {
  color: #fff; }

.main-menu__link {
  line-height: 32px;
  padding: 5px 22px;
  background: transparent;
  font-size: 16px;
  color: #202020;
  display: inline-block;
  min-width: 120px;
  text-align: center; }
  .main-menu__item--active .main-menu__link {
    background: #009477;
    box-shadow: -7px 7px 20px 0 rgba(132, 92, 255, 0.2);
    color: #fff;
    border-radius: 3px; }
    .main-menu__item--active .main-menu__link:hover {
      color: #fff; }
      .main-menu__item--active .main-menu__link:hover span {
        text-decoration: none; }
  .main-menu__link:hover {
    color: #202020; }
    .main-menu__link:hover span {
      text-decoration: underline; }

.main-menu__text {
  display: inline-block; }

.page-container {
  position: relative; }

.top-banner {
  position: relative;
  padding-top: 260px; }
  .top-banner__heading {
    line-height: 50px; }
  .top-banner__action {
    margin: 30px 0; }
    .jp-lang .top-banner__action {
      margin: 100px 0 30px; }
  .top-banner__contact {
    text-align: center;
    background: url("../images/header-btn-bg.png") no-repeat top center;
    width: 605px;
    height: 185px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 160px; }
    .top-banner__contact .button {
      min-width: 530px;
      font-size: 36px;
      line-height: 55px;
      padding: 15px;
      text-transform: none;
      box-shadow: none;
      background: none;
      margin-top: -30px;
      margin-left: -7px; }
  .top-banner__clients {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .top-banner .container {
    position: relative; }

.contact-group__button {
  min-width: 155px; }

.contact-group__link {
  margin-left: 22px; }

.footer {
  background: #009477; }
  .footer-contain {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 80px; }
  .footer-menu {
    display: -ms-flexbox;
    display: flex;
    padding-right: 200px; }
    .footer-menu__item {
      line-height: 25px;
      padding: 10px 45px; }
    .footer-menu__link {
      color: #fff;
      line-height: 25px;
      font-size: 18px; }
      .footer-menu__link:hover {
        color: #fff;
        text-decoration: underline; }
  .footer-contact {
    position: fixed;
    bottom: -5px;
    left: calc(50% + 365px);
    z-index: 1000; }
    @media (max-width: 1320px) {
      .footer-contact {
        left: auto;
        right: 50px; } }
    .footer-contact__text {
      text-transform: uppercase;
      color: #fff;
      background: #e77b8b;
      border-radius: 5px;
      width: 258px;
      height: 103px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      cursor: pointer;
      font-size: 18px; }
      .footer-contact__text:hover {
        color: #fff;
        box-shadow: -7px 7px 20px 0 rgba(196, 116, 191, 0.3); }

.survey {
  text-align: center;
  padding-top: 150px; }
  .survey-carousel {
    margin-top: -45px; }
    .survey-carousel__content {
      max-width: 1140px;
      padding: 40px 70px 0;
      padding-top: 47px;
      margin: auto;
      position: relative; }
      .survey-carousel__content:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url("../images/icon-sprite.png") -254px 0;
        width: 127px;
        height: 98px; }
    .survey-carousel__desc {
      font-size: 22px;
      line-height: 42px;
      margin-bottom: 15px; }
    .survey-carousel__author {
      color: #3a8ff7;
      font-size: 24px; }
  .survey-success {
    margin-top: 65px; }
    .survey-success__heading {
      text-transform: none;
      display: inline-block;
      margin: auto;
      min-width: 350px; }
    .survey-success__steps {
      max-width: 1140px;
      padding-top: 45px;
      padding-bottom: 155px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .survey-success__step {
      width: 300px;
      padding: 42px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 24px 79px 0 rgba(16, 66, 97, 0.1);
      position: relative; }
      .jp-lang .survey-success__step {
        padding-left: 35px;
        padding-right: 35px; }
      .survey-success__step:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 18px;
        right: 18px;
        bottom: 12px;
        border: 1px solid #009477; }
      .survey-success__step--space {
        width: 55px;
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; }
      .survey-success__step-icon {
        margin: auto;
        height: 49px;
        width: 49px;
        background: url("../images/icon-sprite.png") -195px -49px; }
        .survey-success__step-icon--equals {
          height: 32px;
          width: 52px;
          background: url("../images/icon-sprite.png") -66px -66px; }
      .survey-success__step-image {
        min-height: 140px; }
      .survey-success__step-heading {
        text-align: left;
        color: #009477;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 2px; }
      .survey-success__step-desc {
        text-align: left;
        line-height: 28px; }

.what-is__item {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.what-is__image {
  width: 50%;
  background: #ebebeb;
  padding: 80px 65px 105px 50px;
  text-align: right; }

.what-is__carousel {
  width: 50%;
  background: #f4f4f4; }

.what-is__info {
  width: 100%;
  padding: 74px 50px 105px 58px; }
  .what-is__info-contain {
    max-width: 550px; }

.what-is__heading {
  margin-bottom: 32px; }

.what-is__action {
  padding-top: 60px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.how-works {
  padding-top: 175px; }
  .how-works__heading {
    max-width: 1040px;
    margin: 0 auto; }
    .how-works__heading .heading {
      margin-bottom: 15px; }
  .how-works__steps {
    padding-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .how-works__step {
    position: relative;
    border: 1px solid #f69679;
    padding: 60px 10px 15px;
    min-width: 248px; }
    .how-works__step--space {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 70px;
      text-align: center; }
    .how-works__step-icon {
      background: url("../images/icon-sprite.png") -10px -70px;
      width: 46px;
      height: 28px;
      margin: auto; }
    .how-works__step-heading {
      position: absolute;
      color: #fff;
      line-height: 38px;
      font-size: 22px;
      border-radius: 3px;
      text-transform: none;
      white-space: nowrap;
      padding: 0 30px;
      min-width: 190px;
      left: 50%;
      top: -25px;
      transform: translateX(-50%);
      z-index: 10; }
    .how-works__step-content {
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .how-works__step-item {
      padding: 0 20px;
      position: relative; }
      .how-works__step-item:not(:last-child):before {
        content: '';
        position: absolute;
        right: -28px;
        top: 25px;
        width: 46px;
        height: 28px;
        background: url("../images/icon-sprite.png") -10px -70px;
        transform: scale(0.65); }
      .how-works__step-item.how-works__step-customer-feedback:not(:last-child):before {
        right: -24px; }
      .how-works__step-item.how-works__step-feedback-analysis:not(:last-child):before {
        right: -32px; }
    .how-works__step-image {
      min-width: 82px;
      width: 82px;
      height: 80px;
      min-height: 80px;
      border-radius: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 auto 15px; }
    .how-works__step-text {
      line-height: 24px; }
  .how-works__differents {
    padding-top: 85px; }
    .how-works__differents-heading {
      color: #009477;
      text-align: center;
      font-size: 32px;
      line-height: 50px;
      margin-bottom: 33px; }
    .how-works__differents-row {
      display: -ms-flexbox;
      display: flex; }
  .how-works__different {
    color: #fff;
    background: #009477;
    border-radius: 3px;
    padding: 23px 20px 28px;
    margin-bottom: 20px;
    margin-right: 13px;
    width: calc(50% - 13px);
    display: -ms-flexbox;
    display: flex; }
    .how-works__different:last-child {
      margin-left: 13px;
      margin-right: 0; }
    .how-works__different-info {
      width: 130px;
      text-align: center;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
    .how-works__different-detail {
      width: calc(100% - 130px);
      padding-left: 30px;
      position: relative; }
      .how-works__different-detail:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        bottom: 2px;
        width: 1px;
        background: #fff; }
    .how-works__different-heading {
      line-height: 30px;
      margin-top: 10px;
      margin-bottom: 0; }

.call-action {
  background: #009477;
  padding: 67px 0; }
  .call-action__row {
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px; }
    @media (max-width: 1320px) {
      .call-action__row {
        padding: 0 20px;
        -ms-flex-pack: center;
            justify-content: center; } }
  .call-action__text {
    line-height: 55px;
    color: #fff;
    font-size: 30px;
    margin-right: 32px; }

.case-study {
  padding-top: 150px;
  padding-bottom: 105px; }
  .case-study__heading, .case-study__description {
    max-width: 1130px;
    margin: auto; }
  .case-study__heading {
    margin-bottom: 48px; }
  .case-study__description {
    margin-bottom: 45px; }
    .case-study__description-bold {
      font-weight: 700;
      margin-bottom: 3px; }
  .case-study__image {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 100px; }

.who-is {
  background: #fafaff url("../images/who-is-bg.png") no-repeat center top 210px;
  padding-top: 175px; }
  .who-is__heading {
    max-width: 1120px;
    margin: auto; }
    .who-is__heading .heading {
      margin-bottom: 30px; }
  .who-is__sub-heading {
    font-style: italic; }
  .who-is__list {
    padding-top: 22px;
    max-width: calc(100vw - 130px);
    margin: auto; }
  .who-is__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    position: relative;
    padding-top: 45px; }
    .who-is__item:before {
      content: '';
      position: absolute;
      top: 0;
      right: -50px;
      width: 215px;
      height: 215px;
      border-radius: 50%;
      background: #009477; }
      @media (max-width: 1320px) {
        .who-is__item:before {
          right: -15px; } }
    .who-is__item.who-is__item--left {
      padding-top: 68px; }
      .who-is__item.who-is__item--left:before {
        right: auto;
        left: -46px; }
        @media (max-width: 1320px) {
          .who-is__item.who-is__item--left:before {
            left: -15px; } }
    .who-is__item.who-is__item--bottom {
      padding-top: 50px;
      padding-bottom: 55px; }
      .who-is__item.who-is__item--bottom:before {
        right: -65px;
        bottom: 0;
        top: auto; }
        @media (max-width: 1320px) {
          .who-is__item.who-is__item--bottom:before {
            right: -15px; } }
  .who-is__image {
    z-index: 3;
    transform: translateX(-50%);
    margin-right: -45px; }
    .who-is__item--left .who-is__image {
      margin-left: -40px;
      margin-right: 0;
      transform: translateX(50%); }
    .who-is__image.who-is__item--bottom {
      margin-right: -25px; }
  .who-is__content {
    z-index: 2;
    background: #fff;
    padding: 60px 40px;
    width: 560px;
    border-radius: 10px;
    box-shadow: 0 24px 79px 0 rgba(16, 66, 97, 0.1);
    position: absolute;
    left: 50%;
    margin-left: -15px; }
    .who-is__content:before {
      content: '';
      position: absolute;
      top: 20px;
      right: 16px;
      bottom: 16px;
      left: 16px;
      border: 2px solid #009477; }
    .who-is__item--left .who-is__content {
      width: 580px;
      right: 50%;
      margin-left: 0;
      margin-right: -20px;
      left: auto; }

.contact {
  background: #fff;
  padding-top: 160px; }
  .contact-heading {
    margin-bottom: 30px; }
    .contact-heading .heading {
      margin-bottom: 2px; }
  .contact-form__row {
    display: -ms-flexbox;
    display: flex; }
  .contact-form__field {
    width: calc(50% - 30px);
    margin: 15px 18px 15px 15px;
    background: #fff;
    box-shadow: -7px 7px 20px 0 rgba(212, 212, 250, 0.2);
    padding: 10px 18px;
    border-radius: 5px; }
    .contact-form__field--big {
      width: calc(100% - 30px); }
  .contact-form__send {
    margin: 15px auto 120px; }

/*# sourceMappingURL=main.css.map */
